.text-reset-color(@color) {
	div, span, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
	dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
		color: @color;
	}
}