.transparent-bg(@color,@opacity) {
	position: relative;
	&:before {
		position: absolute;
		display: block;
		content: '';
		top: 0; bottom: 0; left: 0; right: 0;
		background-color: @color;
		opacity: @opacity;
		z-index: -1;
	}
}