.footer {
	background-color: @brand-primary;
	padding-top: @padding-large-vertical*5;
	padding-bottom: @padding-large-vertical*3;
	.text-reset-color(white);

	a {
		text-decoration: none !important;
		border-bottom: @padding-xs-vertical dotted transparent;
		transition: border-bottom 300ms ease;
	}
	a:hover { border-bottom: @padding-xs-vertical dotted #86c3d8; }
	.footer-block {
		@media screen and (min-width: @screen-sm) { min-height: @padding-large-vertical*14; } // SM layout is 2x2 so this helps match elements vertically
		margin-bottom: @padding-large-vertical*4;

		.footer-menu-title {
			font-size: @font-size-bigger;
			font-weight: bold;
			margin-top: 0;
		}
		// menus are aligned left by default
		.footer-menu {
			list-style-type: none;
			padding-left: @padding-small-horizontal;
			margin-bottom: 0;
			border-left: @padding-xs-vertical solid white;
			font-size: @font-size-smaller;
		}
		// even numbered menus will align right on SM - looks better with the 2x2 layout
		@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			&.sm-right {
				text-align: right;
				.footer-menu {
					padding-right: @padding-small-horizontal;
					padding-left: 0;
					border-right: @padding-xs-vertical solid white;
					border-left: 0;
				}
			}
		}
		.socials {
			li {
				display: inline-block;
				margin-right: @padding-base-horizontal/2;

				a {
					display: block;
					width: 44px;
					height: 44px;
					text-align: center;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 50%;
					transition: border 300ms ease;
					border: @padding-xs-vertical dotted transparent;

					&:hover { border: @padding-xs-vertical dotted white; }
				}
				.facebook { background-color: #3a589b; background-image: url('../../../img/glyph-facebook.png'); }
				.twitter { background-color: #1cb7eb; background-image: url('../../../img/glyph-twitter.png'); }
			}
		}
	}
	.credits {
		font-size: @font-size-smaller;
		margin-top: 0;
		p { margin: 0 auto; }
	}
}