@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700,700italic,800italic,800,600italic,600&subset=latin,cyrillic);

body { background-image: url('../../../img/bg-pattern.png'); }

/*
// "book now" floating button
*/

.book-now {
	position: fixed;
	top: @navbar-height*2;
	right: 0;
	z-index: 20;

	@media screen and (max-width: @screen-sm-max) {
		position: absolute;
		top: @navbar-height;
		right: 0;
    left: 50%;
	}

	.btn-free {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding-left: @padding-small-horizontal*3;
		padding-right: @padding-small-horizontal*3;
		padding-top: @padding-large-vertical*2;
		padding-bottom: @padding-large-vertical*2;
		position: relative;
		z-index: 10;
		box-shadow: 4px 0 4px 0 rgba(0,0,0,0.45);
		text-shadow: 1px 2px 0px #f6e7ae;

		@media screen and (max-width: @screen-sm-max) {
			box-shadow: 0px 1px 0px 0 rgba(0,0,0,0.45);
			border-radius: 0;
			font-size: 1.2rem;
	    width: 100%;
	    height: 36px;
	    padding-top: 2px;
	    padding-bottom: 2px;

	    img {max-width: 18px;}
		}

		img { vertical-align: bottom; }
	}
}

.booking {
	.book-now { display: none; }
}

/*
// reservation hoverbox
*/

.hoverbox {
	position: absolute;
	display: block;
	padding: @padding-large-vertical*3 @padding-small-horizontal*2 @padding-large-vertical;
	//background-color: lighten(#F5DB7A, 10%);
	background-color: @brand-secondary;
	background-color: rgba(red(@brand-secondary), green(@brand-secondary), blue(@brand-secondary), .5);
	color: @text-color;
	left: 0;
	right: 0;
	//top: -100%;
	bottom: 100%;

	.line {
		display: table;
		width: 100%;
		margin-bottom: @padding-large-vertical*2;

		span {
			display: table-cell;
			line-height: 1;
		}

		.title {
			text-align: left;
			font-weight: bold;
		}
		.content {
			text-align: right;
		}
	}

	.left,
	.mid,
	.right {
		display: table-cell;
		vertical-align: middle;
	}

	.mid {
		font-size: @font-size-h2;
		font-weight: bolder;
		padding-right: @padding-small-horizontal*2;
	}
}

.active .hoverbox {margin-bottom: @padding-xs-vertical*8;}

/*
// heading decorations
*/

hr { border-color: #9a8479; } // all lines
[class*="-12"] hr.on-wide { width: 6%; } // line under section heading
[class*="-6"] hr.on-wide,
[class*="-4"] hr.on-wide { width: 14%; } // line under each complex title

// breadcrumbs

.breadcrumb {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 3em;
	margin-top: 2em;
	a {
		color: @breadcrumb-color;
	}
}

/*
// anchors
*/

.complex {
	#anchor {
		position: relative;
		bottom: @padding-large-vertical*4;
	}
}

// nav pills
.nav-pills {
	margin-top: @padding-large-vertical*3;
	@media screen and (min-width: @grid-float-breakpoint) { margin-bottom: @padding-large-vertical*8; }

	> li > a {
		border-radius: 0;
		background-color: @brand-primary;
		border: @padding-xs-vertical solid @brand-primary;
		color: white;
		margin-right: @padding-base-horizontal/6;
	}
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		color: @brand-warning;
		border-color: @brand-warning;
		background-color: white;
	}
	> li > a:hover,
	> li > a:focus {
		border: @padding-xs-vertical solid desaturate(lighten(@brand-primary, 20%), 30%);
		background-color: desaturate(lighten(@brand-primary, 20%), 30%);
	}
}

// custom button
.btn-custom {
	line-height: 1;
	//padding: @padding-base-vertical*4 @padding-small-horizontal*3.5;
	font-family: @font-family-sans-serif;
	font-size: @font-size-bigger;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: @padding-xs-vertical*3;

	.plus {
		display: inline-block;
		margin-right: @padding-xs-horizontal;
		transform: scale(1.5);
	}
}


.btn-gold {
	.button-variant(#313630, #F5DB7A, #F5DB7A);
}

.btn-brown {
	.button-variant(white, @text-color, @text-color);
}

.btn-next {
	display: block;
	float: right;
	margin-top: @padding-large-vertical*6;
	margin-bottom: @padding-large-vertical*8;
	font-family: @font-family-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: @font-size-h3;
	color: @brand-primary;
	cursor: pointer;
	text-decoration: none !important;

	.arrow {
		font-size: @font-size-h1;
		vertical-align: @padding-xs-vertical*-3;
	}
}

// Modifier class for ~3:1 aspect ratio
.embed-responsive-3by1 {
  padding-bottom: 32.8125%;
}

// auto caret direction in collapsible element
.inner-pages-nav-trigger .caret {
	border-top-width: 0;
	border-bottom-width: @padding-xs-vertical*5;
	border-bottom-style: solid;
}
.inner-pages-nav-trigger.collapsed .caret {
  border-top-width: @padding-xs-vertical*5;
  border-bottom-width: 0;
  border-bottom-style: solid;
}

// equal-height columns
// http://stackoverflow.com/a/19695851/4876586
// with margins
.row.equal-cols-1{overflow:hidden;}
.equal-cols-1 [class*="col-"]{margin-bottom:-99999px;padding-bottom:99999px;}
// with table
.row.equal-cols-2 {display: table;}
.equal-cols-2 [class*="col-"] {float:none;display:table-cell;vertical-align:middle;}

// dynamic vertical centering
.centerY {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#weather {
	position: absolute;
	top: @navbar-height*2;
	left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	@media screen and (max-width: @screen-sm-max) {
		top: @navbar-height;
		border-radius: 0;
		left: 0;
		right: 50%;
	}

	.btn-free {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding-left: @padding-small-horizontal*3;
		padding-right: @padding-small-horizontal*3;
		padding-top: @padding-large-vertical*2;
		padding-bottom: @padding-large-vertical*2;
		position: relative;
		z-index: 10;
		box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.45);
		text-shadow: 1px 2px 0px #f6e7ae;


		span {
			vertical-align: middle;
			text-transform: uppercase;
		}

		@media screen and (max-width: @screen-sm-max) {
			box-shadow: 0px 1px 0px 0 rgba(0,0,0,0.45);
			border-radius: 0;
			width: 100%;
			height: 36px;
			font-family: @font-family-sans-serif;
			line-height: 0.9;
			font-size: 1.2rem;
			text-transform: uppercase;
			line-height: 12px;

			span + span {
				font-size: @font-size-h4;
				letter-spacing: -2px;
			}
		}

	}
}
