// carousel
.jumbotron,
.internal-jumbotron {
  padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;

	//.owl-wrapper { .transparent-bg(#1094c0,.67); } // check mixins folder
	.owl-item { .text-reset-color(white); } // check mixins folder

	// overriding Owl Carousel's default navigation with our own element
	// custom nav must be before actual carousel in HTML
	.row { position: relative; } // wrapper for our custom nav

	.owl-custom-nav,
	.filmstrip-custom-nav {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;

		a {
			// dynamic vertical centering
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(0);
			transform: translateY(-50%);
			// end of dynamic vertical centering
			color: white;
			margin: 0 1.92%;
			font-size: @font-size-base*4.28571428571429; // 60px
			z-index: 11; // this way only the arrows are on top of the carousel
			user-select: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

			&.prev { left: 0; }
			&.next { right: 0; }
		}
	}

    @media screen and (max-width: @grid-float-breakpoint) {
        .owl-custom-nav img {
            display: block;
            width: 25px;
        }
    }

	.filmstrip-custom-nav {
		a {
			font-size: @font-size-base*1.42857142857143; // 20px
			margin-left: @padding-large-vertical;
			margin-right: @padding-large-vertical;
		}
	}
}


.jumbotron .owl-carousel:not(.filmstrip),
.internal-jumbotron .owl-carousel:not(.filmstrip) {
    .carousel-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .carousel-slide-title {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        background-color: fade(@brand-primary, 80%);
        font-size: @font-size-base*4.14285714285714;
        line-height: 1.1;
        font-family: @font-family-serif;
        padding: @padding-large-vertical*4 @padding-small-horizontal*8;

        h1 {font-size: @font-size-base*4.14285714285714;}
        b { font-weight: bolder; }
        small {
        	font-size: @font-size-h4;
        	font-family: @font-family-sans-serif;
        	font-weight: lighter;
        	display: inline-block;
        	margin-top: @padding-large-vertical*4;
        }
    }
}

.jumbotron {
    //border-bottom: @padding-xs-vertical*3 solid @text-color;
    //.owl-wrapper { .transparent-bg(#1094c0,.67); } // check mixins folder
    .filmstrip-wrapper {
        .filmstrip {
            padding: @padding-large-vertical*2 30px;
            //background-color: #1895bf;
            background-color: white;
            a {
                max-height: @filmstrip-height;
                display: block;
                //margin: 0 @padding-xs-horizontal;
                img {
                    min-height: @filmstrip-height;
                    width: 100%;
                    padding: 0 @padding-xs-horizontal;
                }
            }
        }
        .owl-item:before {
            content: '';
            display: block;
            margin: 0 @padding-xs-horizontal;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: inset 0px 2px 5px 5px rgba(50, 50, 50, 0.75);
            cursor: pointer;
            opacity: 0;
            transition: all 300ms ease;
        }
        .synced:before {
            //border-top: @padding-xs-vertical*4 solid @brand-primary;
            //border-bottom: @padding-xs-vertical*4 solid @brand-primary;
            cursor: default;
            opacity: 1;
        }
    }
    .filmstrip-custom-nav a {color: @text-color;}
}

.internal-jumbotron {
    .filmstrip {
        padding: @padding-large-vertical*2 0;
        a {
            max-height: @filmstrip-height;
            display: block;
            margin: 0 @padding-xs-horizontal;
            img {
                min-height: @filmstrip-height;
                width: 100%;
            }
        }
        .owl-item:first-child a { margin-left: 0; }
        .owl-item:last-child a { margin-right: 0; }
    }
    .filmstrip-custom-nav {
        a {
            color: @text-color;
        }
    }
}
