// centered branding - custom approach
.navbar {
	border-radius: 0;
	border: 0;
	max-height: @navbar-height;

	.navbar-brand {
		padding: @padding-large-vertical*2;
		img {
			max-height: 100%;
		}
    &.hidden-lg {
      float: none;
      display: block;
      img {
        margin: 0 auto;
        padding-left: 44px;
      }
    }
	}

	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (min-width: @grid-float-breakpoint) {
	.navbar-collapse.collapse {
		text-align: center;
		display: table !important;
		width: 100%;
		text-align: center;
		padding: 0;
		.navbar-nav {
			display: table-cell;
			float: none !important;

			> li {
				float: none !important;
				display: inline-block;
			}

			.dropdown-menu > li > a {
				line-height: 2;
			}
		}
		.navbar-left, .navbar-right {
			width: 42%;
			font-size: 0;
			height: @navbar-height;
		}
		.navbar-left { text-align: right; }
		.navbar-right { text-align: left; }
		.navbar-center {
			//width: 20%;
			height: @navbar-height;
			a {
				display: block;
				// height: 100%; // source of chrome bug
				height: @navbar-height;
				img {
					height: auto;
					width: 212px;
					margin-top: @padding-large-vertical*2.6;
					position: relative;
					z-index: 10;
				}
			}
		}
		.collapse.in {
			.navbar-left,
			.navbar-right {
				height: unset;
				font-size: unset;
			}
		}
	}
}
// end of centered branding

// fixed navbar on mobile
@media (max-width: @grid-float-breakpoint) {
	body { padding-top: 0; }
  .navbar-main {
    //position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    border-width: 0;
  }
  // the part with breadcrumbs AND subnav
  .complex-nav { margin-bottom: @padding-large-vertical*4; }
  // fixed subnav (only on small screens)
  .complex-subnav {
  	position: absolute;
  	top: @navbar-height;
  	z-index: 15;
  	width: 100%;
  	background-color: @body-bg;
  	padding-top: 10px;
  	padding-bottom: @padding-large-vertical*2;
  }
}
// end of fixed navbar on mobile

// actual styling below
.navbar {
	background-color: #FBFDFD;
	li a {
		text-transform: uppercase;
		font-family: @font-family-serif;
		//font-weight: bold;
		font-size: @font-size-bigger;
	}
	.navbar-toggle { z-index: 11; }
	.lang-menu {
		> a img { margin-top: @padding-xs-vertical*-2; }
		.dropdown-menu {
			min-width: unset;
			img { margin-top: @padding-xs-vertical*-6; }
		}
	}
	.lang-menu-xs {
		a { display: inline-block; }
	}
}

.navbar-inverse {
	&, & > [class*="container"] { background-color: @brand-primary; }
	.navbar-nav > li > a { color: @brand-warning; }
}
