.room-list {
	margin-top: @padding-large-vertical*6;

	> .row { margin-bottom: @padding-large-vertical*14; }
	> .row:last-child { margin-bottom: @padding-large-vertical*3; }

	.booking-room-group {
		position: relative;
		a {
			display: block;
			overflow: hidden;
			img {
				transition: all 300ms ease;
			}
			&:hover img {transform: scale(1.03);}
		}
	}

	// typography
	.room-title {
		font-family: @font-family-serif;
		font-size: @font-size-h2;
		font-weight: normal;
		color: @gray-dark;
	}
	.room-subtitle {
		font-size: @font-size-h4;
		font-weight: normal;
		font-style: italic;
	}
	.room-count {
		text-align: center;
		font-family: @font-family-sans-serif;
		font-size: @font-size-h6;
		font-weight: normal;
		color: @text-color;

		.big {
			line-height: 1;
			font-family: @font-family-serif;
			font-size: @font-size-base*2.85714285714286;
			font-weight: 600;
			font-style: italic;
			display: block;
		}
	}
	.room-desc {
		font-family: @font-family-sans-serif;
		font-size: @font-size-bigger;
		line-height: @line-height-computed*1.1;
		color: @gray-dark;
	}
	.room-more-link {
		text-align: right;
		line-height: 1;
		font-family: @font-family-serif;
		text-transform: lowercase;
		font-size: @font-size-h3;
		font-weight: bold;
		font-style: italic;
		color: @brand-warning;
	}
	.room-price {
		font-family: @font-family-serif;
		font-size: @font-size-h1;
		line-height: @line-height-computed*1.1;
		color: white;

		.top {
			font-family: @font-family-sans-serif;
			font-size: @font-size-small;
			color: lighten(@brand-warning, 20%);
			line-height: 1;
		}

		.small {
			font-family: @font-family-sans-serif;
			font-size: @font-size-bigger;
		}
	}
	.room-rows {
		color: @brand-primary;

		.room-res-inputs-title {
			text-transform: uppercase;
			font-family: @font-family-sans-serif;
			font-size: @font-size-bigger;
			font-weight: bold;
		}

		.equal-cols-2 { margin-bottom: @padding-large-vertical*2; }
		label {
			font-weight: normal;
			font-size: @font-size-bigger;
		}
		select.blue {
			//border-color: @brand-primary;
		}
		.close { color: @brand-primary; font-size: @font-size-base*3.28571428571429; font-weight: lighter; }
	}
	.fine-print { color: @brand-primary; font-size: @font-size-base; margin-bottom: 0; }

	// layout
	img {
		margin-bottom: @padding-large-vertical*4;
		max-height: @roomlist-image-height;
		//box-shadow: 0px 4px 5px 0px #555;
		box-shadow: 0 4px 5px 0 #b4b4b4;
	}
	.room-title {
		//min-height: @roomlist-heading-height;
    span {display: block;}
	}
	.room-count {
		position: relative;
		min-width: @padding-small-horizontal*8;
		padding-left: @padding-small-horizontal;
		margin-left: @padding-small-horizontal*4;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0;
			bottom: 0;
			border-left: @padding-xs-vertical solid @text-color;
		}
	}
	.room-desc {
		//height: @roomlist-desc-height;
		padding-right: @padding-small-horizontal*8;
	}
	.room-more-link {
		//display: block;
		margin-top: @padding-large-vertical*4;
		margin-bottom: 0;
    font-size: 2rem;
	}
	.room-price {
		position: absolute;
		top: 0;
		right: 0;
		padding: @padding-large-vertical*2.2;
		background-color: @brand-primary;
		margin-right: @padding-small-horizontal*1.5;
    font-size: 2.6rem;

		.top {
			display: block;
			margin-bottom: @padding-xs-vertical*8;
		}

		span + span { display: inline-block; }
	}
	hr {
		margin-top: @padding-large-vertical*1.5;
		margin-bottom: @padding-large-vertical*2.5;
	}
	.reserveRoom {
		margin: @padding-large-vertical*2 auto @padding-large-vertical*4;
	}
	.room-rows {
    .flexbox {display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; align-items: center;
      .flexitem {align-self: flex-end;}
      .flexitem:nth-child(1) {-webkit-flex: 2 0 26px; flex: 2 0 26px;}
      .flexitem:nth-child(2) {-webkit-flex: 2 0 50px; flex: 2 0 50px;}
      .flexitem:nth-child(3) {-webkit-flex: 2 0 50px; flex: 2 0 50px;}
      .flexitem:nth-child(4) {-webkit-flex: 1 0 20px; flex: 1 0 20px;}
    }

		.padded { padding-top: @padding-large-vertical*2.4; }
		.room-res-inputs-title {
      padding: 0;
      margin-bottom: 8px;
      font-size: 1.2rem;
    }
		.close {
			opacity: .5;
      padding-top: 0;
      line-height: 30px;

			&:hover,
			&:focus {
				opacity: .8;
			}
		}
	}

	.btn-custom { padding-top: @padding-large-vertical*2.5; padding-bottom: @padding-large-vertical*2.5; }

  p:empty {
     display: none;
  }
}
