.notfound {
	background-image: url('../../../img/404-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media screen and (min-width: @screen-md-min) {
		height: 100vh;
		overflow-y: hidden;
	}

	.core {
    color: white;
    padding-top: @navbar-height;
    padding-bottom: @navbar-height*2;
    
    @media screen and (min-width: @screen-md-min) {
  		height: 100vh;
  		padding-top: @navbar-height;
  		overflow-y: hidden;
  	}

    .main-title {
    	font-size: @font-size-base*5.85714285714286;
    	font-weight: lighter;
    	margin-bottom: 0;
    	line-height: 1;
    }
    p {
    	font-size: @font-size-h3;
    	margin: 0 auto @padding-large-vertical*8;
    }
    a {
    	color: white;
    	font-weight: bold;
    	border-bottom: 1px solid white;
    	text-decoration: none !important;
    }
	}

	@media screen and (min-width: @screen-md-min) {
		footer { .navbar-fixed-bottom; }
	}
}