.about {
	.jumbotron {
		background-image: url('../../../img/about-bg.jpg');
		background-repeat: no-repeat;
		background-position: center 15%;
		background-size: cover;
		padding-top: @padding-large-vertical*30;
		margin-bottom: @padding-large-vertical*15;
	}

	.main-title {
		margin-top: 0;
	}

	.core {
		margin-top: @padding-large-vertical*6;
		margin-bottom: @padding-large-vertical*16;

		.left-side {
			img {
				box-shadow: 0 4px 5px 0 #b4b4b4;
			}
		}

		.right-side {

			hr { margin-bottom: 40px; }
			// make the first letter all fancy
			p:first-of-type::first-letter {
				font-family: @font-family-serif;
				font-size: 225%;
				line-height: 0;
			}
		}
	}
}

.about {
	// small screen specific styles
	@media screen and (max-width: @screen-sm) {
		.right-side { margin-top: @padding-large-vertical*4; }
		p { text-align: center; }
	}
}