.booking {
	.jumbotron {
		background-image: url('../../../img/booking-bg-1.jpg');
		background-position: center 20%;
		background-repeat: no-repeat;
		padding-top: @padding-large-vertical*38;
		margin-bottom: -@padding-large-vertical*22;
		@media screen and (max-width: @grid-float-breakpoint) {
			margin-bottom: 0;
		}
	}
	.main-title {
		background-color: unset;
		color: white;
		visibility: hidden;
		font-weight: normal;
		text-shadow: 0px 2px 1px rgba(0,0,0,0.6);
	}
	.main-subtitle {
		font-weight: lighter;
		font-family: @font-family-sans-serif;
		font-style: italic;
	}
	.booking-breadcrumbs { // wrapper (topmost .container)
		margin-top: 0;
		margin-bottom: @padding-large-vertical*2;
		background-color: @brand-primary;
		background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), .4);
		color: white;
		z-index: 9;

		.booking-breadcrumbs-navbar { // UL
			list-style-type: none;
	    padding-left: 0;
	    margin-bottom: 0;

			.booking-breadcrumb-nav { // LI
				// small screen styles
				line-height: 3;
		    text-align: center;
		    padding-left: 0;
		    padding-right: 0;
		    margin: @padding-xs-vertical*8 auto;
		    //@media screen and (min-width: @screen-lg) { line-height: @padding-large-vertical*10; } // thick boxes on LG
		    @media screen and (min-width: @screen-sm) { margin: auto; }

		    &.active { background-color: @brand-warning; }

		    &.active {
		    	
					.popover { margin-top: -@padding-large-vertical*2.2; } // compensate for active item decoration
		    	a { cursor: default; } // no use clicking the current step

					// active item top decoration
		    	&:before {
		    		content: '';
		    		display: block;
		    		position: absolute;
		    		top: -@padding-xs-vertical*8; bottom: 100%;
		    		left: 0; right: 0;
		    		background-color: inherit;
		    	}

					// active item bottom decoration
		    	&:after {
		    		content: '';
		    		display: block;
		    		position: absolute;
		    		top: 100%; bottom: -@padding-xs-vertical*8;
		    		left: 0; right: 0;
		    		background-color: inherit;
		    		box-shadow: 0px 4px 5px 0px #b4b4b4;
		    	}
		    }

		    a {
		    	color: white;
		    	text-decoration: none !important;
		    	cursor: pointer; // default link cursor by default

					// step numbers - default & XS
					span {
						font-family: @font-family-serif;
						font-size: @font-size-base*1.857142857142857;
						font-style: italic;
						line-height: 1;
						position: relative;
						top: @padding-xs-vertical*2;
						margin-right: 0;
					}

					// step numbers - LG
					@media screen and (min-width: @screen-lg) {
						span {
							font-size: @font-size-base*4.714285714285714;
							top: @padding-large-vertical*1.4;
							display: block;
						}
					}

					// separators
					@media screen and (min-width: @screen-sm) {
						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 0; right: 0;
							top: @padding-large-vertical*3; bottom: @padding-large-vertical*3;
							border-right: @padding-xs-vertical solid white;
						}
					}
		    }
			}
			.nav-rooms {
				z-index: 10;

				.hoverbox {
					background-color: rgba(red(@brand-secondary), green(@brand-secondary), blue(@brand-secondary), .9);
				}
			}
		}
	}

	.complexes-menu {
		margin-top: @padding-large-vertical*10;
		margin-bottom: @padding-large-vertical*10;

		.complexes-menu-title {
			margin-bottom: @padding-large-vertical*8;

			p { font-size: @font-size-h4; }
		}
		.complex-title {
			margin-top: 0;
			margin-bottom: @padding-large-vertical*3;
			font-weight: normal;
			text-transform: uppercase;
	    white-space: nowrap;
		}
		.complexes-menu-items {
			@media screen and (max-width: @grid-float-breakpoint) {
				> div + div {
					margin-top: 6rem;
				}
			}
			img {
				margin-bottom: @padding-large-vertical*5;
				box-shadow: 0 4px 5px 0 #b4b4b4;
			}
		}
	}
}