.booking.rooms {
	.room-list {
		.row {
			//margin-top: @padding-large-vertical*6;
			margin-bottom: @padding-large-vertical*4;
		}
		.room-title {
			margin-bottom: 1em;
      margin-top: 0;
		}
		.room-desc p {
	    font-style: italic;
	    font-size: .9em;
	    line-height: 1;
		}
		.booking-room-group {
			padding-top: @padding-large-vertical*3;
		}
		.booking-room-group.selected {
			background-color: rgba(red(@brand-success), green(@brand-success), blue(@brand-success), .2);
		}
		.room-price {
			margin-top: @padding-large-vertical*3;
		}
    // .room-more-link {
  	// 	margin-top: @padding-large-vertical*4;
  	// }
	}
	.reserveRoom {
		margin-top: @padding-small-vertical;
	}
	.reservation-table {
		.table {
			vertical-align: middle;
			border: @padding-xs-vertical solid @text-color;
			margin-top: @padding-large-vertical*6;

			td {
				border-top: @padding-xs-vertical solid lighten(@text-color, 30%);
				border-left: @padding-xs-vertical solid @text-color;
				border-right: @padding-xs-vertical solid @text-color;
			}
			.row-label { text-transform: uppercase; }

			.row-first td {
				border-top: 0;
			}
			.td_rowspan,
			.row-discount .row-label {
				font-size: @font-size-base;
				font-weight: bold;
			}
			.row-reservation {
				font-weight: bold;
				text-transform: uppercase;
			}
			.row-last {
				background-color: @text-color;
				color: white;
				text-transform: uppercase;

				.row-label {
					font-size: @font-size-bigger;
					font-weight: normal;
					vertical-align: super;
					margin-right: @padding-small-horizontal;
				}

				.total-price {
					font-size: @font-size-h1;
					font-weight: bolder;
				}
			}
			.row-error { background-color: lighten(@brand-danger, 30%); }
		}
	}

	.sendReservationApi {
		font-family: @font-family-serif;
		font-weight: lighter;
		display: block;
		text-transform: uppercase;
		font-size: @font-size-h3;
		cursor: pointer;
		margin: @padding-large-vertical*7 auto @padding-large-vertical*12;
		position: relative;
		z-index: 20;
	}

	.final_price_with_booking {
		.spaced {
			margin-left: @padding-small-horizontal*2;
			margin-right: @padding-small-horizontal*2;
		}
		.big {
			font-size: @font-size-bigger;
			font-weight: normal;
		}
		.lead {
			font-size: @font-size-h1;
			font-weight: bolder;
			vertical-align: sub;
			margin-left: @padding-small-horizontal;
		}
	}
}
