.booking {
	.booking-personal {
		margin-top: @padding-large-vertical*8;

		.main-title {
			margin: @padding-large-vertical*8 auto @padding-large-vertical*3;
			font-family: @font-family-sans-serif;
			font-size: @font-size-base*1.57142857143;
			font-weight: normal;
			color: @gray;
			text-transform: uppercase;
		}
		form {
			color: @gray;

			label {
				font-size: @font-size-bigger;
				font-weight: normal;
			}

			input[type="text"].form-control { height: 36px; }
			
			input[type="text"],
			textarea { border-radius: @border-radius-base/4; }

			.form-group:not([class*="has-"]) {
				input[type="text"], textarea { border-color: @brand-primary; }
			}

			.help-block {
				color: lighten(@gray, 30%);
				font-style: italic;
			}

			p {
				margin: @padding-large-vertical*7 auto @padding-large-vertical*3;
				font-size: @font-size-bigger;
				font-weight: bold;
				color: @gray;
			}
		}
	}

	.error-message {
		.glyphicon { top: @padding-xs-vertical*2; }
	}
}