.booking {
	.datepickers-title {
		hr {
			margin-bottom: 0;
		}
	}
	.datepickers-inputs {
		margin-top: @padding-large-vertical*8;
		margin-bottom: @padding-large-vertical*4;

		.form-group { margin-bottom: @padding-large-vertical; }
		.input-group { margin: 0 @padding-small-horizontal*2.3; }
	}
	.datepickers-inline {
		margin-bottom: @padding-large-vertical*9;
	}
	.submitDateLink { margin-top: @padding-large-vertical*2; margin-bottom: 0; }
}

	// datepicker

.date-picker-wrapper {
	border: 0;
	background-color: transparent;
	font-family: @font-family-sans-serif;

	&.inline-wrapper {
		margin: 0 auto;
		padding: 0;
	}

	.month-wrapper {
		border: 0;
		padding: 0;
		width: auto !important;

		table.month1,
		table.month2 {
			min-width: 400px;
			width: auto;
			outline: @padding-xs-vertical solid @brand-warning;
		}

		@media screen and (max-width: @screen-md-max) {
			table.month1 { margin-bottom: @padding-large-vertical*2; }
			table.month1,
			table.month2 {
				float: none;
				width: 400px;
			}
		}

		.month-name {
			font-weight: lighter;
			font-size: @font-size-base*2.28571428571;
		}

		.caption {
			background-color: @brand-warning;
			color: white;

			th { padding-top: @padding-large-vertical*2; padding-bottom: @padding-large-vertical*2; }

			th:first-child,
			th:last-child {
				width: @padding-small-horizontal*6.6 !important;
				line-height: @line-height-computed*2.3;
				font-family: Arial;
			}

			th:first-child { padding-left: @padding-small-horizontal*3; }
			th:last-child { padding-right: @padding-small-horizontal*3; }

			span {
				font-size: @font-size-base;
				padding: @padding-xs-vertical*9 @padding-small-horizontal*1.3;
				border: @padding-xs-vertical solid white;
				border-radius: 50%;
			}

			span:hover {
				color: @text-color;
				background-color: @gray-lighter;
			}

			.month-name {
				text-transform: capitalize;
			}
		}

		table {
			.week-name {
				height: @line-height-computed*2.3;
				line-height: @line-height-computed*2.3;
				color: @gray-darker;
				font-size: @font-size-bigger;
				text-transform: capitalize;
			}

			td {
				line-height: @line-height-computed*2.3;
			}

			.day {
				font-size: @font-size-base*1.42857142857;
				line-height: @line-height-computed*2.3;
				padding: 0;
				margin-bottom: 0;
				font-weight: lighter;

				&.toMonth.valid { color: @gray; }
				&.real-today { background-color: lighten(@brand-info, 20%); }
				&.real-today.invalid { color: @text-color; }
				&.toMonth.hovering { background-color: lighten(@text-color, 35%); }
				&.checked { background-color: lighten(@text-color, 30%);  color: lighten(@brand-warning, 30%) !important; }
			}
		}

		.gap {
			@media screen and (max-width: @screen-md-max) { display: none; }
			background-color: transparent;
			.gap-lines { display: none; }
		}
	}

	.first-date-selected,
	.last-date-selected {
		background-color: #d4bfb4 !important;
		background-color: lighten(@text-color, 20%) !important;
		color: lighten(@brand-warning, 20%) !important;
	}

	.footer { display: none; }

	.date-range-length-tip {
		background-color: @brand-info;
		color: white;
		&:after {
			border-top-color: @brand-info;
		}
	}
}
