.booking.confirm {
	.tables {
		margin-top: @padding-large-vertical*12;

		tr:first-child td { border-top: 0; } // first row after <thead>
		table table { // inner tables
			margin-bottom: 0; // compensate for BS' .table
			background-color: transparent; // override "table table" BS rule
			td { font-weight: normal; }
		}
		th {
			font-size: @font-size-base*1.57142857143;
			font-weight: normal;
			color: @gray;
			text-transform: uppercase;
			border-bottom: @padding-xs-vertical solid #e5e0de;
			vertical-align: middle;
		}
		td {
			font-family: @font-family-serif;
			font-size: @font-size-base*1.57142857143;
			font-weight: bold;
			border-top-style: dotted;
			vertical-align: middle;
			padding: @padding-base-vertical;
		}
		.row-heading { // leftmost column
			font-family: @font-family-sans-serif;
			font-size: @font-size-bigger;
			font-weight: bold;
			color: @gray;
			text-transform: none;
		}
		.row-subheading { // inner table headings
			font-family: @font-family-sans-serif;
			font-size: @font-size-bigger;
			color: @gray;
			text-transform: none;
		}
		
		.table-reservation { // first table
			// last row uses inner table so the 'total price' cell width can be set without breaking the layout of the rows above
			.row-total {
				> td {
					border-bottom: @padding-xs-vertical solid @text-color;
					padding-top: @padding-large-vertical*4;
					padding-bottom: @padding-xs-vertical;
				}
				.row-total-heading { // outside the inner table so it's consistent with the row headings above
					font-family: @font-family-sans-serif;
					color: @gray;
					font-size: @font-size-bigger;
					font-weight: 900;
				}
				.row-total-price { // this is in the inner table
					width: 25%; // see note on .row-total
					background-color: @brand-warning;
					font-size: @line-height-base*1.71428571429;
					color: white;
					text-align: center;
				}
			}
		}

		.table-person { // second table
			margin-top: @padding-large-vertical*12;
			margin-bottom: @padding-large-vertical*7;

			td:first-child { width: 25%; } // let's have some consistency here
		}

		.early-booking {
			
		}
	}
	.btn { margin-bottom: @padding-large-vertical*15; }
}