.booking {
	.booking-success {
		&, hr { color: @gray; }
		margin-bottom: @padding-large-vertical*6;

		.main-title { margin-top: @padding-large-vertical; font-family: @font-family-sans-serif; }
		.main-subtitle { margin-bottom: @padding-large-vertical*4; }
		p { font-size: @font-size-bigger; }
		footer {
			position: fixed;
			bottom: 0;
			width: 100%;
		}
		.hoverbox {display: none !important;}
	}
}