.promotions {

	// each promotion
	.promo-item {
		margin-bottom: @padding-large-vertical*18;

		.promo-title {
			margin-top: 0;
			margin-bottom: @padding-large-vertical*3.5;
			font-size: @font-size-h2;
			color: @gray;
			text-transform: uppercase;
		}
		img {
			margin-bottom: @padding-large-vertical*3.5;
		}
		.promo-desc {
			font-size: @font-size-bigger;
			color: @gray;
			margin-bottom: 0;
		}

		// attention-seeking box
		.blue-box {
			text-align: center;
			background-color: @brand-primary;
			padding: @padding-large-vertical*3.5 @padding-small-horizontal*7.5;
			width: @padding-small-horizontal*42.8;
			position: absolute;
			bottom: 0;
			box-shadow: 0px 4px 5px 0px #b4b4b4;

			.early-booking,
			li, p {
				color: @gray-lighter;
				font-size: @font-size-bigger;
			}

			.early-booking {
				margin-top: 0;
				margin-bottom: @padding-large-vertical*2;
				font-family: @font-family-sans-serif;
			}

			hr {
				border-color: white;
				margin-bottom: @padding-large-vertical*3;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}

			li {
				margin-bottom: @padding-large-vertical*2.4;
				font-weight: bold;
			}

			p { margin-bottom: @padding-large-vertical*4.6; font-size: @font-size-base; }
		}
		// end of blue box

		// because they alternate between left and right side layout
		&.odd {
			.blue-box { right: @padding-small-horizontal*1.5; }
			.promo-desc { padding-right: @padding-base-horizontal*39; }
		}
		&.even {
			.blue-box { left: @padding-small-horizontal*1.5; }
			.promo-desc { padding-left: @padding-base-horizontal*39; }
		}

		// make it look nice below MD as well
		@media screen and (max-width: @screen-md) {

			// .promo-item
			margin-bottom: @padding-large-vertical*6;

			.promo-desc { margin-bottom: @padding-large-vertical*3.5; }
			
			.blue-box {
				position: static;
				width: unset;
			}
			&.odd {
				.promo-desc { padding-right: 0; }
			}
			&.even {
				.promo-desc { padding-left: 0; }
			}
		}
	}
}