.complex {
    .jumbotron {
      padding-top: 60px;
      @media screen and (min-width: @grid-float-breakpoint) {
        padding-top: 0;
      }
    }
    .inner-pages-nav-trigger {
        border-radius: 0;
        margin-bottom: @padding-xs-vertical*4;
    }
    .inner-pages-nav {
        li { width: 100%; }
        li + li {
            margin-left: 0;
        }
        a {
            margin-right: 0;
        }
    }
    //.main-subtitle { margin-top: 140px; }
    .complex-desc {
        margin-top: @padding-large-vertical*6;
        margin-bottom: @padding-large-vertical*13;
    }
    .core {
        padding-top: @padding-large-vertical*16;
        padding-bottom: @padding-large-vertical*14;
        background-image: url('../../../img/facilities_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        .title {
            margin-top: 0;
            color: white;
        }
        hr {
            border-color: white;
            margin-bottom: @padding-large-vertical*6;
        }
        .tabs-wrapper {
            .nav-tabs {
                background-color: white;
                //width: @padding-small-horizontal*72;
                display: table;
                width: 100%;
                border: 0;
                > li {
                    min-width: @padding-small-horizontal*12;
                    display: table-cell;
                    float: none;
                    margin-bottom: 0;
                    //line-height: @padding-large-vertical*13;
                    //height: @padding-large-vertical*13;
                    position: relative;
                    > a {
                        color: @text-color;
                        margin-right: 0;
                        border: 0;
                        //height: @padding-large-vertical*13;
                        padding: @padding-large-vertical*2.6;
                        font-size: @font-size-bigger;
                        text-align: center;
                        text-transform: uppercase;
                        img {
                            display: block;
                            margin: @padding-large-vertical auto @padding-large-vertical;
                        }
                    }
                    // nav decorations
                    > a:before {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        border-right: @padding-xs-vertical solid @text-color;
                        top: @padding-large-vertical*2.6;
                        bottom: @padding-large-vertical*2.6;
                    }
                }
                > li:last-child > a:before {
                    display: none;
                } // no deco on the last nav
                // line under active nav
                .active a:after {
                    content: '';
                    display: block;
                    position: relative;
                    top: @padding-large-vertical*2.6;
                    border-bottom: @padding-xs-vertical solid @text-color;
                    position: absolute;
                    bottom: 0;
                    left: @padding-large-vertical*2.6; right: @padding-large-vertical*2.6;
                }
            }
            .tabs-collapsed {
                a {
                    color: @text-color;
                    font-family: @font-family-sans-serif;
                    font-size: @font-size-h3;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    display: block;
                    img {
                        margin: auto @padding-large-vertical auto auto;
                        vertical-align: -@font-size-h3/2;
                    }
                }
                .js-tabcollapse-panel-body {
                    img {
                        margin-bottom: @padding-large-vertical*2;
                    }
                }
            }
        }
        .tab-content-wrapper {
            background-color: white;
            padding: @padding-large-vertical*7;
            font-size: @font-size-bigger;
            //box-shadow: 0px 4px 5px 0px #555;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
            ul {
                list-style-image: url('../../../img/bullet.png');
                padding-left: @padding-small-horizontal*3;
            }
        }
        .complex-title {
            margin-top: 0;
            margin-bottom: @padding-large-vertical*3;
            font-size: @font-size-h2;
            font-weight: normal;
            font-family: @font-family-serif;
        }
    }
    .complex-location-section {
        padding-top: @padding-large-vertical*16;
        padding-bottom: @padding-large-vertical*10;
        address {
            margin-top: @padding-large-vertical*5;
        }
    }

    .complex-map {

        .row {position: relative;}

        .embed-responsive {
          @media screen and (max-width: @grid-float-breakpoint) { .embed-responsive-16by9; }
          @media screen and (min-width: @grid-float-breakpoint) { .embed-responsive-3by1; }
        }

        .infobox {
            display: none;
            @media screen and (min-width: @grid-float-breakpoint) { position: absolute; display: block; }
            background-color: @brand-primary;
            color: white;
            top: 10%;
            right: 20%;
            padding: @padding-large-vertical*8;

            .title {margin: 0;}
            hr {border-color: white;margin: @padding-large-vertical*2 auto @padding-large-vertical*4;}
            p {
                margin-bottom: 0;
                line-height: 2;
            }
        }
    }

    .book-now {
        @media screen and (max-width: @screen-sm-max) {
            // top: @navbar-height+60px;
            //left: 75%;
            display: none;
        }
    }
    .book-now-inflow {
      display: none;
      padding: 0 @grid-gutter-width/2;

      @media screen and (max-width: @screen-sm-max) {
      display: block;

        button {
          border-radius: 0px;
          .btn-block;
        }
      }
    }
}
