.pricelist {
	.room-list {
    .booking-room-group + .booking-room-group { margin-top: @padding-large-vertical*10; }
    > .row:last-child {
  		margin-bottom: @padding-large-vertical*7;
  	}
  }
	.room-price {
		padding: @padding-large-vertical*1.5 @padding-small-horizontal*2.6;
	}
	.fine-print {
		font-family: @font-family-sans-serif;
		font-size: @font-size-small;
		color: @gray;
		margin-top: 4rem;
		margin-bottom: 8rem;
	}
}

// flexbox approach
.pricelist {
  .flexbox.room-list { display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; }
  .flexitem.room-list-item { -webkit-flex: 1 auto; flex: 1 auto; }
  .flexbox.room-item { display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap;
    .flexitem { -webkit-flex: 1 auto; flex: 1 auto; }
  }

  // .room-list-item + .room-list-item { margin-top: 4rem; }
  // @media screen and (min-width: @screen-sm-min) {
  //   .room-list-item + .room-list-item { margin-top: 0; }
  //   .room-list-item + .room-list-item + .room-list-item { margin-top: 4rem; }
  // }
  .room-item {margin-bottom: 4rem;}
  .room-subtitle {margin-top: 0;}
}
