.guestbook {
	background-image: url('../../../img/guestbook-bg.jpg');
	background-position: center top;
	background-size: auto 100%;

	@media screen and (max-width: @screen-sm-max) {
		background-position: 50% top;
	}

	background-repeat: no-repeat;

	.complex-nav {
		margin-top: @padding-large-vertical*20;
	}

	.nav-pills { margin-bottom: @padding-large-vertical; }

	#flipbook {
		margin: 0 auto;
		margin-top: @padding-large-vertical*4;
		margin-bottom: @padding-large-vertical*4;

		.padded { padding: @padding-large-vertical*7.6 @padding-small-horizontal*7; }

		.avatar {
			margin-bottom: @padding-large-vertical*4.8;

			img {
				max-height: 126px;
				max-width: 100%;
			}
		}

		blockquote, p {
			font-size: @font-size-smaller;
			font-weight: lighter;
			line-height: @line-height-computed*1.1;
			text-align: justify;
			color: @gray;
		}

		blockquote {
			position: relative;
			padding: 0;
			border-left: 0;
			padding-left: @padding-small-horizontal*6;
			margin-left: -@padding-small-horizontal*3.5;
		}

		blockquote:before {
			content: url('../../../img/quotes.png');
			position: absolute;
			top: @padding-xs-vertical*6;
			margin-left: -@padding-small-horizontal*7.4;
			margin-right: @padding-small-horizontal;
		}

		.author,
		.jobtitle {
			text-align: right;
		}

		.author {
			font-size: @font-size-bigger;
			font-weight: bold;
			font-style: italic;
		}

		.jobtitle {
			font-size: @font-size-base;
			font-style: italic;
		}
		
		.page {
			background-color: white;
		}

		.p2 {
			img { opacity: .21; }
		}
	}

	.form {
		margin-top: @padding-large-vertical*13;
		margin-bottom: @padding-large-vertical*13;

		form {
			.file-upload {
				
				.form-group { position: relative; }

				input[type="file"] {
					position: absolute;
					top: 0;
					opacity: 0;
				}
			}
		}
	}
}