.contacts {
	.jumbotron {
		//background-image: url('../../../img/contacts-bg.jpg');
		//background-repeat: no-repeat;
		//background-position: center center;
		//background-size: cover;
		//padding-top: @padding-large-vertical*30;
		margin-bottom: @padding-large-vertical*15;
		position: relative;
		z-index: 0;

		/* &:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			background-color: #1094c0;
			opacity: .47;
		} */
	}

	.core {
		margin-top: @padding-large-vertical*4;
		margin-bottom: @padding-large-vertical*25;

		.right-side {
			address {
				line-height: 1;

				.address-title {
					margin-top: 0;
					color: #1094c0;
					text-transform: uppercase;
					font-weight: bold;
					font-family: @font-family-sans-serif;
					font-size: @font-size-bigger;
				}
			}
		}
	}
}

#gMap {
	width: 100%;
	height: @contacts-map-height;
}