.index {
	padding: 0;
}

.index .jumbotron {
  background-color: transparent;
  padding-top: 36px;
	  @media screen and (min-width: @grid-float-breakpoint) {
      padding-top: 3px;
    }

	.owl-carousel:not(.filmstrip) {
		.carousel-slide-title {
	    background-color: unset;
	    font-weight: normal;
	    text-shadow: 0px 2px 1px rgba(0,0,0,0.6);
		}
	}

	.carousel-img {
		display: block;
		outline: none !important;
	}

  .owl-item img {
    margin: 0 auto;
  }

	// Owl Carousel's default pagination
	.owl-controls {
		position: absolute;
		bottom: @padding-large-vertical*57;
		right: 10%;
		z-index: 9;

		.owl-pagination {
			span {
				background-color: transparent;
				border: @padding-xs-vertical*2 solid @brand-primary;
				box-shadow: 0px 0px 3px 4px white;
				@media screen and (max-width: @grid-float-breakpoint) {
					width: @padding-large-horizontal;
					height: @padding-large-horizontal;
					margin: 0 @padding-large-horizontal;
				}
			}
			.owl-page.active span { background-color: @brand-primary; }
		}
	}

	// shadow on bottom
	.overlay {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		box-shadow: inset 0 -14em 10em 0 black;
		opacity: .8;
		pointer-events: none;
	}

	.content {
    @media screen and (min-width: @grid-float-breakpoint) {
      margin-top: -520px;
    }

		.card-nav-heading,
		.card-title a {
      color: @gray;
      @media screen and (min-width: @grid-float-breakpoint) {
        color: white;
      }
			text-decoration: none;
		}

		.card-title a {
			text-shadow: 1px 2px 0 #f6e7ae;
			border-radius: 0;
			padding-top: @padding-large-horizontal;
			padding-bottom: @padding-large-horizontal;
		}

		.card-nav-heading {
			font-weight: normal;
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin: 28px auto;
		}

		.card-title {
			background-color: #F5DB7A;
			font-size: @font-size-h3;
			font-weight: normal;
			margin: 0;
			position: relative;
			z-index: 9;

			a {
				display: block;
				text-transform: uppercase;
				color: @brand-primary;
			}
		}

		@media screen and (max-width: @grid-float-breakpoint) {
			.complex-tab {
				padding-left: 0;
				padding-right: 0;
			}
			.card-title a {
				font-size: 2.2rem;
				letter-spacing: -1px;
				word-spacing: 3px;
        border-bottom: 1px solid white;

        &:before {
          content: '';
          background-image: url('/img/arrow-right-black.png');
          display: inline-block;
          width: 12px;
          height: 22px;
          background-size: auto 100%;
          position: absolute;
          margin-right: 0px;
          background-repeat: no-repeat;
          right: 20px;
          top: 20px;
        }
			}
		}

		@media screen and (min-width: @grid-float-breakpoint) {
      .card-title:hover + .hover-card {opacity: 1; bottom: 100%;}
		}

		.hover-card {
			display: none;
			opacity: 0;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			padding: 0 @grid-gutter-width/2;
			transition: all 400ms ease;

			img {
				width: 100%;
			}

			@media screen and (min-width: @grid-float-breakpoint) {display: block; &:hover {opacity: 1;}}
		}
	}
}

.index .card-nav {
	padding-bottom: @padding-large-vertical*15;

	.main-desc {
		text-align: center;
		font-style: italic;
		font-size: @font-size-bigger;
		font-family: @font-family-serif;
	}

	.card-desc { margin-bottom: @padding-large-vertical*2; }
	.complex-img {
		// width + padding bottom at 100% give us a responsive square
		// http://stackoverflow.com/a/19068538/4876586
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		.text-reset-color(white);
		box-shadow: 0px 4px 5px 0px #b4b4b4;

		// HOVER BEHAVIORS
		// pseudo-element for the solid color background
		// this way we can control color opacity on its own
		// nested content keeps its own opacity
		// hex color instead of rgba for best compatibility
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-color: @brand-primary;
			opacity: 0;
			transition: all 300ms ease;
		}

		// content on top must be in a nested DIV, not in a sibling
		// impossible to catch both hover states if not nested
		.complex-img-hover {
			opacity: 0;
			position: absolute;
			width: 100%;
			left: 0;
			display: block;
			padding-left: 5%;
			padding-right: 5%;
			transition: all 300ms ease;
			// 50% from top and -50% translateY centers the element vertically
			// no need to set explicit height this way
			// https://css-tricks.com/centering-css-complete-guide/
			top: 50%;
			transform: translate(0,-50%);

			// sizing the hover box on small screens - XS & SM
			img { margin-bottom: 5%; max-width: 40%; }

			p {
				font-size: @font-size-base;
				font-weight: lighter;
				color: white;
			}

			// sizing the hover box on large screens - MD
			@media screen and (min-width: @screen-md-min) {
				img { margin-bottom: 2.5%; max-width: 50%; }
				p { font-size: @font-size-h6; }
			}

			// sizing the hover box on large screens - LG
			@media screen and (min-width: @screen-lg-min) {
				img { margin-bottom: 5%; max-width: 50%; }
				p { font-size: @font-size-base; }
			}
		}

		// hovering over .complex-img reveals the solid color and overlaid content
		&:hover {
			&:before { opacity: .78; }
			& .complex-img-hover { opacity: 1; }
		}
	}
}

.index .modal-backdrop {z-index: -1;}
