.presentations {
	background-position: center @padding-large-vertical*12;

	.row.player { margin-top: @padding-large-vertical*20; }
	.row.thumbnails { margin-top: @padding-large-vertical*6; margin-bottom: @padding-large-vertical*13; }

	.player img { box-shadow: 0px @padding-xs-horizontal @padding-small-horizontal 0px rgba(0, 0, 0, 0.3); }

	.filmstrip {
		// display: table;
		// margin: 0 auto;
		// max-width: 100%;

    &.flexbox { display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;
      align-items: center;
      > .flexitem {
        align-self: center;
      }
      .flexitem.prev,
      .flexitem.next {-webkit-flex: 1 auto; flex: 1 auto;}
      .flexitem.core {-webkit-flex: 4 auto; flex: 4 auto;}
    }

		// > div { display: table-cell; vertical-align: middle; }

		.prev span, .next span {
			//font-family: @font-family-sans-serif;
			font-weight: lighter;
			color: black;
			font-size: @font-size-base*4.285714285714286;
			text-shadow: 0px @padding-xs-horizontal @padding-small-horizontal rgba(0, 0, 0, 0.3);
		}

    .core {
      .flexbox {display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;
        -webkit-justify-content: space-between; justify-content:space-between;
        align-items: center;
        > .flexitem { -webkit-flex: 1 auto; flex: 1 auto;
          align-self: center;
        }
      }
    }

		.video-thumbnail {
			a {
				// margin-left: @padding-small-horizontal*1.5;
				// margin-right: @padding-small-horizontal*1.5;
        display: block;
        text-align: center;
        cursor: pointer;

				img { box-shadow: 0px @padding-xs-horizontal @padding-small-horizontal 0px rgba(0, 0, 0, 0.3); }
			}
		}
	}

  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}


#yt_embededvideo{
	position: static;
	margin-left: auto;
	margin-right: auto;
}
