.room {
	//background-image: url('../../../img/room-bg.png');
	//background-repeat: no-repeat;
	//background-position: center bottom;

	.jumbotron {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		position: relative;
		z-index: -1;
		padding-top: @padding-large-vertical*36;
		margin-bottom: @padding-large-vertical*10;
	}

	.main-title .title {
		color: @gray;
		text-transform: uppercase;
	}
	.features {
		border-top: @padding-xs-vertical solid @gray-lighter;
		border-bottom: @padding-xs-vertical solid @gray-lighter;
		padding: @padding-large-vertical*2 @padding-small-horizontal*6;
		margin-bottom: @padding-large-vertical*10;

		.feature {
			display: inline-block;
			color: @text-color;
			font-size: @font-size-smaller;
			text-decoration: none !important;
			position: relative;
			transition: all 300ms ease;

			&:first-child {border-left: @padding-xs-vertical solid @gray-lighter;}
			border-right: @padding-xs-vertical solid @gray-lighter;
			padding: @padding-large-vertical @padding-small-horizontal*5.5;

			&:hover:after {
				content: '';
				display: block;
				position: absolute;
				top: -@padding-large-vertical*2; bottom: -@padding-large-vertical*2;
				left: 0; right: 0;
				background-color: lighten(@text-color, 40%);
				z-index: -1;
				pointer-events: none;
			}

			img {
				display: block;
				margin: 0 auto;
				margin-bottom: @padding-large-vertical*2;
			}
		}
	}
	.desc-title,
	.extras-title {
		font-family: @font-family-sans-serif;
		font-size: @font-size-bigger;
		font-weight: bolder;
	}
	.desc-title { margin-top: 0; }
	.extras-title { margin-top: @padding-large-vertical*8; }
	.desc p {
		color: @gray;
		font-size: @font-size-bigger;
	}
	.extras-checkboxes {
		margin-top: @padding-large-vertical*6;
		font-size: @font-size-bigger;

		img { vertical-align: -@font-size-bigger/6; }
	}
	table {
		margin-top: @padding-large-vertical*6;
		color: @gray;
		font-size: @font-size-bigger;

		td:last-child {
			font-weight: bolder;
			text-transform: uppercase;
		}
	}

	.aside {
		.promo {
			color: @gray;
			border: 1px solid @gray;
			padding: @padding-large-vertical*4 @padding-large-vertical*5;
		}

		.promo-title {
			font-weight: normal;
			font-size: @font-size-bigger;
			font-family: @font-family-sans-serif;
		}
		hr {
			border-color: @gray;
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin: @padding-large-vertical*10 auto;

			li {
				font-weight: bolder;
				font-size: @font-size-bigger;
			}
		}
		button {
			margin-top: @padding-large-vertical*4;
			padding: @padding-large-vertical*5;
		}
	}
}