@font-size-smaller: 13px;
@font-size-bigger: 16px;

@padding-base-vertical: 3px;
@padding-small-vertical: 2px;
@padding-large-vertical: 5px;

@carousel-height: 350px;
@filmstrip-height: 100px;

@roomlist-image-height: 400px;
@roomlist-heading-height: 100px;
@roomlist-desc-height: 130px;

@contacts-map-height: 400px;