@import (reference) "variables.less";
@import (reference) "mixins/buttons.less";
@import (css) "../../../fonts/stylesheet.css";
@import "mixins/navbar-variant.less";
@import "mixins/transparent-bg.less";
@import "mixins/text-reset.less";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700,700italic,800italic,800,600italic,600&subset=latin,cyrillic);

// 0.0 GLOBALS

body { background-image: url('../../../img/bg-pattern.png'); }

// "book now" floating button
.book-now {
	position: fixed;
	margin-top: 5%;
	right: 0;
	z-index: 20;
	.btn-free {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		z-index: 10;

		img { vertical-align: bottom; }
	}
}

// carousel
.jumbotron {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 20px;

	.owl-wrapper { .transparent-bg(#1094c0,.67); } // check mixins folder
	.owl-item { .text-reset-color(white); } // check mixins folder

	// overriding Owl Carousel's default navigation with our own element
	// custom nav must be before actual carousel in HTML
	.row { position: relative; } // wrapper for our custom nav

	.owl-custom-nav,
	.filmstrip-custom-nav {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;

		a {
			// dynamic vertical centering
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(0);
			// end of dynamic vertical centering
			color: white;
			margin: 0 1.92%;
			font-size: 60px;
			z-index: 11; // this way only the arrows are on top of the carousel
			user-select: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

			&.prev { left: 0; }
			&.next { right: 0; }
		}
	}

	.filmstrip-custom-nav {
		a {
			font-size: 20px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

// heading decorations
hr { border-color: #9a8479; } // all lines
[class*="-12"] hr.on-wide { width: 6%; } // line under section heading
[class*="-6"] hr.on-wide,
[class*="-4"] hr.on-wide { width: 14%; } // line under each complex title

// breadcrumbs
.breadcrumb {
	padding: 0;
	margin: 0 auto;
	a {
		color: @breadcrumb-color;
	}
}

// nav pills
.nav-pills {
	margin-top: 30px;
	margin-bottom: 140px;

	> li > a {
		border-radius: 0;
		background-color: @brand-primary;
		border: 1px solid @brand-primary;
		color: white;
		margin-right: 2px;
	}
	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
		color: @brand-primary;
		//border: 1px solid @brand-primary;
		background-color: white;
	}
	> li > a:hover,
	> li > a:focus {
		border: 1px solid desaturate(lighten(@brand-primary, 20%), 30%);
		background-color: desaturate(lighten(@brand-primary, 20%), 30%);
	}
}

// custom button
.btn-custom {
	line-height: 1;
	padding: 24px 35px;
	font-family: @font-family-sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;

	.plus {
		display: inline-block;
		margin-right: 5px;
		transform: scale(1.5);
	}
}

// 0.1 NAVBAR

// centered branding - custom approach
.navbar {
	.navbar-brand {
		padding: 20px;
		img {
			max-height: 100%;
		}
	}
}

@media screen and (min-width: @grid-float-breakpoint) {
	.navbar-collapse.collapse {
		text-align: center;
		display: table !important;
		width: 100%;
		text-align: center;
		padding: 0;
		.navbar-nav {
			display: table-cell;
			float: none !important;

			> li {
				float: none !important;
				display: inline-block;
			}

			.dropdown-menu > li > a {
				line-height: 2;
			}
		}
		.navbar-left, .navbar-right {
			width: 42%;
		}
		.navbar-left { text-align: right; }
		.navbar-right { text-align: left; }
		.navbar-center {
			//width: 20%;
			height: @navbar-height;
			a {
				display: block;
				// height: 100%; // source of chrome bug
				height: @navbar-height;
				img {
					height: auto;
					width: 100%;
					margin-top: 26px;
					position: relative;
					z-index: 10;
				}
			}
		}
	}
}
// end of centered branding

// fixed navbar on mobile
@media (max-width: @grid-float-breakpoint) {
	body { padding-top: @navbar-height+80px; }
  .navbar-main {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    border-width: 0;
  }
  // the part with breadcrumbs AND subnav
  .complex-nav { margin-bottom: 40px; }
  // fixed subnav (only on small screens)
  .complex-subnav {
  	position: fixed;
  	top: 120px;
  	z-index: 15;
  	width: 100%;
  	background-color: @body-bg;
  	padding-top: 10px;
  	padding-bottom: 20px;
  }
}
// end of fixed navbar on mobile

// actual styling below
.navbar {
	background-color: #FBFDFD;
	li a {
		text-transform: uppercase;
		font-family: @font-family-serif;
		//font-weight: bold;
		font-size: 16px;
	}
	.navbar-toggle { z-index: 11; }
	.lang-menu {
		> a img { margin-top: -2px; }
		.dropdown-menu {
			min-width: unset;
			img { margin-top: -6px; }
		}
	}
	.lang-menu-xs {
		a { display: inline-block; }
	}
}

// 0.2 FOOTER

.footer {
	background-color: @brand-primary;
	padding-top: 50px;
	padding-bottom: 30px;
	.text-reset-color(white);

	a {
		text-decoration: none !important;
		border-bottom: 1px dotted transparent;
		transition: border-bottom 300ms ease;
	}
	a:hover { border-bottom: 1px dotted #86c3d8; }
	.footer-block {
		@media screen and (min-width: @screen-sm) { min-height: 140px; } // SM layout is 2x2 so this helps match elements vertically
		margin-bottom: 40px;

		.footer-menu-title {
			font-size: 16px;
			font-weight: bold;
			margin-top: 0;
		}
		// menus are aligned left by default
		.footer-menu {
			list-style-type: none;
			padding-left: 10px;
			margin-bottom: 0;
			border-left: 1px solid white;
			font-size: 13px;
		}
		// even numbered menus will align right on SM - looks better with the 2x2 layout
		@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			&.sm-right {
				text-align: right;
				.footer-menu {
					padding-right: 10px;
					padding-left: 0;
					border-right: 1px solid white;
					border-left: 0;
				}
			}
		}
		.socials {
			li {
				display: inline-block;
				margin-right: 6px;

				a {
					display: block;
					width: 44px;
					height: 44px;
					text-align: center;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 50%;
					transition: border 300ms ease;
					border: 1px dotted transparent;

					&:hover { border: 1px dotted white; }
				}
				.facebook { background-color: #3a589b; background-image: url('../../../img/glyph-facebook.png'); }
				.twitter { background-color: #1cb7eb; background-image: url('../../../img/glyph-twitter.png'); }
			}
		}
	}
	.credits {
		font-size: 13px;
		margin-top: 0;
		p { margin: 0 auto; }
	}
}

// 0.3 ROOM LIST

.room-list {
	margin-top: 60px;

	> .row { margin-bottom: 140px; }

	.booking-room-group {
		position: relative;
	}

	// typography
	.room-title {
		font-family: @font-family-serif;
		font-size: 30px;
		font-weight: normal;
		color: @gray-dark;
	}
	.room-subtitle {
		font-size: 18px;
		font-weight: normal;
		font-style: italic;
	}
	.room-count {
		text-align: center;
		font-family: @font-family-sans-serif;
		font-size: 12px;
		font-weight: normal;
		color: @text-color;

		.big {
			line-height: 1;
			font-family: @font-family-serif;
			font-size: 40px;
			font-weight: 600;
			font-style: italic;
			display: block;
		}
	}
	.room-desc {
		font-family: @font-family-sans-serif;
		font-size: 16px;
		line-height: 22px;
		color: @gray-dark;
	}
	.room-more-link {
		text-align: right;
		line-height: 1;
		font-family: @font-family-serif;
		text-transform: lowercase;
		font-size: 24px;
		font-weight: bold;
		font-style: italic;
		color: @text-color;
	}
	.room-price {
		font-family: @font-family-serif;
		font-size: 36px;
		line-height: 22px;
		color: white;

		.top {
			font-family: @font-family-sans-serif;
			font-size: 12px;
			color: @brand-info;
			line-height: 1;
		}

		.small {
			font-family: @font-family-sans-serif;
			font-size: 16px;
		}
	}
	.room-rows {
		color: @brand-primary;

		.room-res-inputs-title {
			text-transform: uppercase;
			font-family: @font-family-sans-serif;
			font-size: 16px;
			font-weight: bold;
		}

		.equal-cols-2 { margin-bottom: 20px; }
		label {
			font-weight: normal;
			font-size: 16px;
		}
		select.blue {
			//border-color: @brand-primary;
		}
		.close { color: @brand-primary; font-size: 46px; font-weight: lighter; }
	}
	.fine-print { color: @brand-primary; font-size: 14px; margin-bottom: 0; }

	// layout
	img {
		margin-bottom: 40px;
		max-height: 400px;
	}
	.room-title {
		min-height: 99px;
	}
	.room-count {
		position: relative;
		min-width: 80px;
		padding-left: 10px;
		margin-left: 40px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0;
			bottom: 0;
			border-left: 1px solid @text-color;
		}
	}
	.room-desc {
		height: 110px;
		padding-right: 80px;
	}
	.room-more-link {
		display: block;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.room-price {
		position: absolute;
		top: 0;
		right: 0;
		padding: 22px;
		background-color: @brand-primary;
		margin-right: 15px;

		.top {
			display: block;
			margin-bottom: 8px;
		}

		span + span { display: inline-block; }
	}
	hr {
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.reserveRoom {
		margin: 20px auto 100px;
	}
	.room-rows {
		.padded { padding-top: 24px; }
		.room-res-inputs-title { margin: 0; }
		.close {
			opacity: .5;

			&:hover,
			&:focus {
				opacity: .8;
			}
		}
	}

	.btn-custom { padding: 25px 50px; }
}

// 1. INDEX
.index .jumbotron {
	background-image: url('../../../img/jumbotron-bg.jpg'); // static photo behind carousel
	padding-top: 200px;
	padding-bottom: 60px; // takes into account height of pagination

	.owl-wrapper { .transparent-bg(#1094c0,.67); } // check mixins folder
	.owl-item { .text-reset-color(white); } // check mixins folder

	// overriding Owl Carousel's default navigation with our own element
	// custom nav must be before actual carousel in HTML
	.row { position: relative; } // wrapper for our custom nav
	.owl-custom-nav {
		position: absolute;
		top: 0; bottom: 177px; // pagination height is 177px - this way the arrows center in the blue bar
		left: 0; right: 0;

		a {
			// dynamic vertical centering
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(100%);
			// end of dynamic vertical centering
			color: white;
			margin: 0 1.92%;
			font-size: 60px;
			z-index: 11; // this way only the arrows are on top of the carousel
			user-select: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
	}

	// Owl Carousel's default pagination
	.owl-controls {
		margin-top: 150px;
		text-align: right;
		padding-right: 15%;

		.owl-pagination {
			span {
				background-color: transparent;
				border: 2px solid @brand-primary;;
			}
			.owl-page.active span { background-color: #1094c0; }
		}
	}

	.jumbotron-title {
		margin-top: 70px;
		.light { font-weight: normal; }
		.heavy { font-weight: bolder; }
	}

	.jumbotron-subtitle {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: lighter;
	}
}

.index .card-nav {
	padding-bottom: 150px;

	.card-nav-heading { font-weight: normal; } // section heading ("please choose")

	.card-title {
		font-size: 58px;
		font-weight: normal;
	}
	.card-desc { margin-bottom: 20px; }
	.complex-img {
		// width + padding bottom at 100% give us a responsive square
		// http://stackoverflow.com/a/19068538/4876586
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;

		// HOVER BEHAVIORS
		// pseudo-element for the solid color background
		// this way we can control color opacity on its own
		// nested content keeps its own opacity
		// hex color instead of rgba for best compatibility
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-color: #0093c3;
			opacity: 0;
			transition: all 300ms ease;
		}

		// content on top must be in a nested DIV, not in a sibling
		// impossible to catch both hover states if not nested
		.complex-img-hover {
			opacity: 0;
			position: absolute;
			width: 100%;
			left: 0;
			display: block;
			padding-left: 5%;
			padding-right: 5%;
			transition: all 300ms ease;
			// 50% from top and -50% translateY centers the element vertically
			// no need to set explicit height this way
			// https://css-tricks.com/centering-css-complete-guide/
			top: 50%;
			transform: translate(0,-50%);

			// sizing the hover box on small screens - XS & SM
			img { margin-bottom: 5%; max-width: 75%; }

			p {
				font-size: 16px;
				font-weight: lighter;
				color: white;
			}

			// sizing the hover box on large screens - MD
			@media screen and (min-width: @screen-md) and (max-width: @screen-lg) {
				img { margin-bottom: 2.5%; max-width: 50%; }
				p { font-size: 12px; }
			}

			// sizing the hover box on large screens - LG
			@media screen and (min-width: @screen-lg) {
				img { margin-bottom: 5%; max-width: 50%; }
				p { font-size: 14px; }
			}
		}

		// hovering over .complex-img reveals the solid color and overlaid content
		&:hover {
			&:before { opacity: .78; }
			& .complex-img-hover { opacity: 1; }
		}
	}
	
	/* .complex-1 { background-image: url('../../../img/index-complex-1.jpg'); }
	.complex-2 { background-image: url('../../../img/index-complex-2.jpg'); }
	.complex-3 { background-image: url('../../../img/index-complex-3.jpg'); } */
}

// 2. ABOUT

.about {
	.jumbotron {
		background-image: url('../../../img/about-bg.jpg');
		background-repeat: no-repeat;
		background-position: center 15%;
		background-size: cover;
		padding-top: 300px;
		margin-bottom: 150px;
	}

	.main-title {
		margin-top: 0;
	}

	.core {
		margin-top: 60px;
		margin-bottom: 160px;

		.right-side {

			hr { margin-bottom: 40px; }
			// make the first letter all fancy
			p:first-of-type::first-letter {
				font-family: @font-family-serif;
				font-size: 225%;
				line-height: 0;
			}
		}
	}
}

.about {
	// small screen specific styles
	@media screen and (max-width: @screen-sm) {
		.right-side { margin-top: 40px; }
		p { text-align: center; }
	}
}

// 3. CONTACTS

.contacts {
	.jumbotron {
		background-image: url('../../../img/contacts-bg.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding-top: 300px;
		margin-bottom: 150px;
		position: relative;
		z-index: -1;

		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			background-color: #1094c0;
			opacity: .47;
		}
	}

	.core {
		margin-top: 40px;
		margin-bottom: 250px;

		.right-side {
			address {
				line-height: 1;

				.address-title {
					margin-top: 0;
					color: #1094c0;
					text-transform: uppercase;
					font-weight: bold;
					font-family: @font-family-sans-serif;
					font-size: 16px;
				}
			}
		}
	}
}

// 4. COMPLEX

// globals
// carousel

.complex {
	#carousel {
		// new approach to carousel
		.owl-wrapper,
		.owl-item,
		.owl-item > div {
			height: 100%;
		}
		.carousel-img {
			background-size: cover;
			background-repeat: no-repeat;
		}
		.carousel-slide-title {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin: 0px auto;
			text-align: center;
			text-transform: uppercase;
			font-size: 30px;
		}
		// end of carousel
		// hardcode this so it doesn't end up fractional
		// when height is not a whole number there's a nasty gap underneath
		//.owl-item img { /* width: 100%; */ height: 550px; }
		.owl-wrapper-outer { height: 550px; }
		.owl-item > div { overflow: hidden; }
	}

	.jumbotron {
		border-bottom: 3px solid @text-color;
		.filmstrip-wrapper {
			.filmstrip {
				padding: 15px 35px;
				background-color: #1895bf;

				a {
					max-height: 120px;
					display: block;
				
					img {
						min-height: 120px;
						width: 100%;
					}
				}
			}
			.synced:before {
				content: '';
				display: block;
				border-top: 4px solid white;
				border-bottom: 4px solid white;
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
			}
		}
	}
}

// end of carousel
// end of globals

.complex {
	.inner-pages-nav-trigger {
		border-radius: 0;
		margin-bottom: 4px;
	}
	.inner-pages-nav {
		li + li { margin-left: 0; }
		a { margin-right: 0; }
	}
	//.main-subtitle { margin-top: 140px; }
	.complex-desc { margin-top: 60px; margin-bottom: 130px; }
	.core {
		padding-top: 160px;
		padding-bottom: 290px;
		background-image: url('../../../img/complex-inner-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		
		.title { margin-top: 0; color: white; }
		hr {
			border-color: white;
			margin-bottom: 60px;
		}

		.tabs-wrapper {
			.nav-tabs {
				background-color: white;
				width: 720px;
				border: 0;

				> li {
					width: 180px;
					margin-bottom: 0;
					line-height: 130px;
					height: 130px;
					position: relative;

					> a {
						color: @text-color;
						margin-right: 0;
						border: 0;
						height: 130px;
						padding: 26px;
						font-size: 16px;
						text-align: center;
						text-transform: uppercase;

						img {
							display: block;
							margin: 10px auto 10px;
						}
					}

					// nav decorations
					> a:before {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						border-right: 1px solid @text-color;
						top: 26px;
						bottom: 26px;
					}
				}

				> li:last-child > a:before { display: none; } // no deco on the last nav

				// line under active nav
				.active a:after {
					content: '';
					display: block;
					position: relative;
					top: 26px;
					border-bottom: 1px solid @text-color;
				}
			}
			.tabs-collapsed {
				a {
					color: @text-color;
					font-family: @font-family-sans-serif;
					font-size: 24px;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;

					img {
						margin: auto 10px auto auto;
						vertical-align: -10px;
					}
				}
				.js-tabcollapse-panel-body {
					img {
						margin-bottom: 20px;
					}
				}
			}
		}

		.tab-content-wrapper {
			background-color: white;
			padding: 70px;
			font-size: 16px;

			ul {
				list-style-image: url('../../../img/bullet.png');
				padding-left: 30px;
			}
		}
		.complex-title {
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 31px;
			font-weight: normal;
			font-family: @font-family-serif;
		}
	}
	.complex-location-section {
		padding-top: 160px;
		padding-bottom: 100px;

		address {
			margin-top: 50px;
		}
	}
	// compensate for fixed complex menu
	@media screen and (max-width: @grid-float-breakpoint) {
		.book-now { margin-top: 20%; }
	}
}

// 5. BOOKING STEP 1

.booking {
	.jumbotron {
		background-image: url('../../../img/booking-bg-1.jpg');
		background-position: center 20%;
		background-repeat: no-repeat;
		padding-top: 360px;
		margin-bottom: 100px;
	}
	.main-subtitle {
		font-weight: lighter;
		font-family: @font-family-sans-serif;
		font-style: italic;
	}
	.booking-breadcrumbs { // wrapper (topmost .container)
		margin-top: 40px;
		margin-bottom: 120px;
		background-color: @brand-primary;
		color: white;

		.booking-breadcrumbs-navbar { // UL
			list-style-type: none;
	    padding-left: 0;
	    margin-bottom: 0;

			.booking-breadcrumb-nav { // LI
				// small screen styles
				line-height: 3;
		    text-align: center;
		    padding-left: 0;
		    padding-right: 0;
		    margin: 8px auto;
		    //@media screen and (min-width: @screen-lg) { line-height: 100px; } // thick boxes on LG
		    @media screen and (min-width: @screen-sm) { margin: auto; }

		    &.active { background-color: @text-color; }

		    &.active {
		    	
					.popover { margin-top: -22px; } // compensate for active item decoration
		    	a { cursor: default; } // no use clicking the current step

					// active item top decoration
		    	&:before {
		    		content: '';
		    		display: block;
		    		position: absolute;
		    		top: -8px; bottom: 100%;
		    		left: 0; right: 0;
		    		background-color: inherit;
		    	}

					// active item bottom decoration
		    	&:after {
		    		content: '';
		    		display: block;
		    		position: absolute;
		    		top: 100%; bottom: -8px;
		    		left: 0; right: 0;
		    		background-color: inherit;
		    	}
		    }

		    a {
		    	color: white;
		    	text-decoration: none !important;
		    	cursor: pointer; // default link cursor by default

					// step numbers - default & XS
					span {
						font-family: @font-family-serif;
						font-size: 26px;
						font-style: italic;
						line-height: 1;
						position: relative;
						top: 2px;
						margin-right: 0;
					}

					// step numbers - LG
					@media screen and (min-width: @screen-lg) {
						span {
							font-size: 66px;
							top: 14px;
							display: block;
						}
					}

					// separators
					@media screen and (min-width: @screen-sm) {
						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 0; right: 0;
							top: 30px; bottom: 30px;
							border-right: 1px solid white;
						}
					}
		    }
			}
		}
	}

	.popover {
		right: 0 !important;
		left: 0 !important;
		max-width: 100%;
		margin-top: -14px;
		background-color: lighten(#F5DB7A, 10%);
		border-radius: 0;
		padding: 0;
		border: 0;
		box-shadow: none;

		.popover-title,
		.popover-content {
			background-color: transparent;
			border: 0;
			font-size: 14px;
			color: @gray-light;
		}

		.popover-title {
			padding: 40px 22px 6px;
			text-transform: uppercase;
		}

		.popover-content {
			padding: 0 22px 50px;
			font-weight: bold;
			font-size: 15px;
			text-transform: uppercase;

			table {
				font-weight: normal;
				text-transform: none;
				width: 100%;
			}
		}
	}

	.complexes-menu {
		margin-bottom: 230px;

		.complexes-menu-title {
			margin-bottom: 80px;

			p { font-size: 18px; }
		}
		.complex-title {
			margin-top: 0;
			margin-bottom: 30px;
			font-weight: normal;
			text-transform: uppercase;
		}
		.complexes-menu-items {
			img {
				margin-bottom: 50px;
			}
		}
	}
}

// 6. BOOKING STEP 2

.booking {
	.datepickers-title {
		hr {
			margin-bottom: 0;
		}
	}
	.datepickers-inputs {
		margin-top: 40px;
		margin-bottom: 40px;

		.form-group { margin-bottom: 10px; }
		.input-group { margin: 0 26px; }
	}
	.datepickers-inline {
		margin-bottom: 90px;
	}
	.submitDateLink { margin-top: 20px; margin-bottom: 0; }
}

	// datepicker

.date-picker-wrapper {
	border: 0;
	background-color: transparent;
	font-family: @font-family-sans-serif;

	&.inline-wrapper {
		margin: 0 auto;
		padding: 0;
	}

	.month-wrapper {
		border: 0;
		padding: 0;
		width: auto !important;

		table.month1,
		table.month2 {
			min-width: 460px;
			width: auto;
			outline: 1px solid @text-color;
		}

		@media screen and (max-width: 1199px) {
			table.month1 { margin-bottom: 20px; }
			table.month1,
			table.month2 {
				float: none;
				width: 460px;
			}
		}

		.month-name {
			font-weight: lighter;
			font-size: 32px;
		}

		.caption {
			background-color: @text-color;
			color: white;

			th { padding-top: 20px; padding-bottom: 20px; }

			th:first-child,
			th:last-child {
				width: 66px !important;
				line-height: 36px;
				font-family: Arial;
			}

			th:first-child { padding-left: 30px; }
			th:last-child { padding-right: 30px; }

			span {
				font-size: 14px;
				padding: 9px 13px;
				border: 1px solid white;
				border-radius: 50%;
			}

			span:hover {
				color: @text-color;
				background-color: @gray-lighter;
			}

			.month-name {
				text-transform: capitalize;
				//padding-left: 60px;
				//padding-right: 60px;
			}
		}

		table {
			.week-name {
				height: 52px;
				line-height: 52px;
				color: @gray-darker;
				font-size: 16px;
				text-transform: capitalize;
			}

			td {
				line-height: 52px;
			}

			.day {
				font-size: 20px;
				line-height: 52px;
				padding: 0;
				margin-bottom: 0;
				font-weight: lighter;

				&.toMonth.valid { color: @gray; }
				&.real-today { background-color: lighten(@brand-info, 20%); }
				&.real-today.invalid { color: @text-color; }
				&.toMonth.hovering { background-color: lighten(@text-color, 35%); }
				&.checked { background-color: lighten(@text-color, 30%); }
			}
		}

		.gap {
			@media screen and (max-width: 1199px) { display: none; }
			background-color: transparent;
			.gap-lines { display: none; }
		}
	}

	.first-date-selected,
	.last-date-selected {
		background-color: #d4bfb4 !important;
		background-color: lighten(@text-color, 20%) !important;
		color: @gray !important;
	}

	.footer { display: none; }

	.date-range-length-tip {
		background-color: @brand-info;
		color: white;
		&:after {
			border-top-color: @brand-info;
		}
	}
}

// 7. BOOKING STEP 3

.booking {
	.reservation-table {
		.table {
			vertical-align: middle;
			border: 1px solid @text-color;
			margin-top: 60px;

			td {
				border-top: 1px solid lighten(@text-color, 30%);
				border-left: 1px solid @text-color;
				border-right: 1px solid @text-color;
			}
			.row-label { text-transform: uppercase; }

			.row-first td {
				border-top: 0;
			}
			.td_rowspan,
			.row-discount .row-label {
				font-size: 14px;
				font-weight: bold;
			}
			.row-reservation {
				font-weight: bold;
				text-transform: uppercase;
			}
			.row-last {
				background-color: @text-color;
				color: white;
				text-transform: uppercase;

				.row-label {
					font-size: 16px;
					font-weight: normal;
					vertical-align: super;
					margin-right: 10px;
				}

				.total-price {
					font-size: 36px;
					font-weight: bolder;
				}
			}
			.row-error { background-color: lighten(@brand-danger, 30%); }
		}
	}

	.sendReservationApi {
		font-family: @font-family-serif;
		font-weight: lighter;
		display: block;
		text-transform: uppercase;
		font-size: 24px;
		cursor: pointer;
		margin: 70px auto 120px;
		position: relative;
		z-index: 20;
	}

	.final_price_with_booking {
		.spaced {
			margin-left: 20px;
			margin-right: 20px;
		}
		.big {
			font-size: 16px;
			font-weight: normal;
		}
		.lead {
			font-size: 36px;
			font-weight: bolder;
			vertical-align: sub;
			margin-left: 10px;
		}
	}
}

// 8. BOOKING STEP 4

.booking {
	.booking-personal {
		.main-title {
			margin: 80px auto 30px;
			font-family: @font-family-sans-serif;
			font-size: 22px;
			font-weight: normal;
			color: @gray;
			text-transform: uppercase;
		}
		form {
			color: @gray;

			label {
				font-size: 16px;
				font-weight: normal;
			}

			input[type="text"].form-control { height: 42px; }
			
			input[type="text"],
			textarea { border-radius: 1px; }

			.form-group:not([class*="has-"]) {
				input[type="text"], textarea { border-color: @brand-primary; }
			}

			.help-block {
				color: lighten(@gray, 30%);
				font-style: italic;
			}

			p {
				margin: 70px auto 30px;
				font-size: 16px;
				font-weight: bold;
				color: @gray;
			}
		}
	}

	.error-message {
		.glyphicon { top: 2px; }
	}
}

// 9. BOOKING STEP 5

.booking {
	.tables {

		// globals

		tr:first-child td { border-top: 0; } // first row after <thead>
		table table { // inner tables
			margin-bottom: 0; // compensate for BS' .table
			background-color: transparent; // override "table table" BS rule
			td { font-weight: normal; }
		}
		th {
			font-size: 22px;
			font-weight: normal;
			color: @gray;
			text-transform: uppercase;
			border-bottom: 1px solid #e5e0de;
			vertical-align: middle;
		}
		td {
			font-family: @font-family-serif;
			font-size: 22px;
			font-weight: bold;
			border-top-style: dotted;
			vertical-align: middle;
			padding: 6px;
		}
		.row-heading { // leftmost column
			font-family: @font-family-sans-serif;
			font-size: 16px;
			font-weight: bold;
			color: @gray;
			text-transform: none;
		}
		.row-subheading { // inner table headings
			font-family: @font-family-sans-serif;
			font-size: 16px;
			color: @gray;
			text-transform: none;
		}
		
		.table-reservation { // first table
			// last row uses inner table so the 'total price' cell width can be set without breaking the layout of the rows above
			.row-total {
				> td {
					border-bottom: 1px solid @text-color;
					padding-top: 40px;
					padding-bottom: 1px;
				}
				.row-total-heading { // outside the inner table so it's consistent with the row headings above
					font-family: @font-family-sans-serif;
					color: @gray;
					font-size: 16px;
					font-weight: 900;
				}
				.row-total-price { // this is in the inner table
					width: 25%; // see note on .row-total
					background-color: @text-color;
					font-size: 24px;
					color: white;
					text-align: center;
				}
			}
		}

		.table-person { // second table
			margin-top: 120px;
			margin-bottom: 70px;

			td:first-child { width: 25%; } // let's have some consistency here
		}
	}
	.btn { margin-bottom: 150px; }
}

// 10. BOOKING STEP 6

.booking {
	.booking-success {
		&, hr { color: @gray; }
		margin-bottom: 180px;

		.main-title { margin-top: 10px; font-family: @font-family-sans-serif; }
		p { font-size: 16px; }
	}
}

// 11. PRICE LIST

.pricelist {
	.jumbotron {
		border-bottom: 3px solid @text-color;
	}
	.room-list > .row:last-child {
		margin-bottom: 70px;
	}
	.room-price {
		padding: 15px 26px;
	}
	.fine-print {
		font-family: @font-family-sans-serif;
		font-size: 12px;
		color: @gray;
		margin-bottom: 100px;
	}
}

// 12. PROMOTIONS

.promotions {

	// new approach to carousel
	.owl-wrapper,
	.owl-item,
	.owl-item > div {
		height: 100%;
	}
	.carousel-img {
		background-size: cover;
		background-repeat: no-repeat;
	}
	.carousel-slide-title {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0px auto;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
	}
	// end of carousel

	// each promotion
	.promo-item {
		margin-bottom: 180px;

		.promo-title {
			margin-top: 0;
			margin-bottom: 35px;
			font-size: 30px;
			color: @gray;
			text-transform: uppercase;
		}
		img {
			margin-bottom: 35px;
		}
		.promo-desc {
			font-size: 16px;
			color: @gray;
			margin-bottom: 0;
		}

		// attention-seeking box
		.blue-box {
			text-align: center;
			background-color: @brand-primary;
			padding: 35px 75px;
			width: 428px;
			position: absolute;
			bottom: 0;

			.early-booking,
			li, p {
				color: @gray-lighter;
				font-size: 16px;
			}

			.early-booking {
				margin-top: 0;
				margin-bottom: 20px;
				font-family: @font-family-sans-serif;
			}

			hr {
				border-color: white;
				margin-bottom: 30px;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}

			li {
				margin-bottom: 24px;
				font-weight: bold;
			}

			p { margin-bottom: 46px; font-size: 14px; }
		}
		// end of blue box

		// because they alternate between left and right side layout
		&.odd {
			.blue-box { right: 15px; }
			.promo-desc { padding-right: 468px; }
		}
		&.even {
			.blue-box { left: 15px; }
			.promo-desc { padding-left: 468px; }
		}

		// make it look nice below MD as well
		@media screen and (max-width: @screen-md) {

			// .promo-item
			margin-bottom: 60px;

			.promo-desc { margin-bottom: 35px; }
			
			.blue-box {
				position: static;
				width: unset;
			}
			&.odd {
				.promo-desc { padding-right: 0; }
			}
			&.even {
				.promo-desc { padding-left: 0; }
			}
		}
	}
}

// 13. GUESTBOOK

.guestbook {
	background-image: url('../../../img/guestbook-bg.jpg');
	background-position: center top;
	background-size: auto 100%;
	background-repeat: no-repeat;

	.complex-nav {
		margin-top: 100px;
	}

	.nav-pills { margin-bottom: 90px; }

	#flipbook {
		margin: 0 auto;
		margin-bottom: 40px;

		.padded { padding: 76px 70px; }

		.avatar {
			margin-bottom: 48px;

			img {
				max-height: 126px;
				max-width: 100%;
			}
		}

		blockquote, p {
			font-size: 13px;
			font-weight: lighter;
			line-height: 22px;
			text-align: justify;
			color: @gray;
		}

		blockquote {
			position: relative;
			padding: 0px;
			border-left: 0;
			padding-left: 60px;
			margin-left: -35px;
		}

		blockquote:before {
			content: url('../../../img/quotes.png');
			position: absolute;
			top: 6px;
			margin-left: -74px;
			margin-right: 10px;
		}

		.author,
		.jobtitle {
			text-align: right;
		}

		.author {
			font-size: 16px;
			font-weight: bold;
			font-style: italic;
		}

		.jobtitle {
			font-size: 14px;
			font-style: italic;
		}
		
		.page {
			background-color: white;
		}

		.p2 {
			img { opacity: .21; }
		}
	}

	.form {
		margin-bottom: 130px;

		form {
			.file-upload {
				
				.form-group { position: relative; }

				input[type="file"] {
					position: absolute;
					top: 0;
					opacity: 0;
				}
			}
		}
	}
}

// 14. PRESENTATIONS

.presentations {
	background-position: center 120px;

	.row.player { margin-top: 200px; }
	.row.thumbnails { margin-top: 60px; margin-bottom: 130px; }

	.player img { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); }

	.filmstrip {
		display: table;
		margin: 0 auto;
		max-width: 100%;

		> div,
		.core > div { display: table-cell; vertical-align: middle; }

		.prev span, .next span {
			//font-family: @font-family-sans-serif;
			font-weight: lighter;
			color: black;
			font-size: 60px;
			text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
		} 

		.video-thumbnail {
			a {
				margin-left: 15px;
				margin-right: 15px;

				img { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); }
			}
		}
	}
}

// EXTRAS & MIXINS

/* .navbar-green {
  .navbar-variant(green, white);
}

.cursive { font-family: @font-family-serif; font-style: italic; } */

.btn-gold {
	.button-variant(#313630, #F5DB7A, #F5DB7A);
}

.btn-brown {
	.button-variant(white, @text-color, @text-color);
}

.btn-next {
	display: block;
	float: right;
	margin-top: 60px;
	margin-bottom: 80px;
	font-family: @font-family-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 24px;
	color: @brand-primary;
	cursor: pointer;

	.arrow {
		font-size: 36px;
		vertical-align: -3px;
	}
}

// Modifier class for ~3:1 aspect ratio
.embed-responsive-3by1 {
  padding-bottom: 32.8125%;
}

// auto caret direction in collapsible element
.inner-pages-nav-trigger .caret {
	border-top-width: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}
.inner-pages-nav-trigger.collapsed .caret {
  border-top-width: 5px;
  border-bottom-width: 0;
  border-bottom-style: solid;
}

// equal-height columns
// http://stackoverflow.com/a/19695851/4876586
// with margins
.row.equal-cols-1{overflow:hidden;}
.equal-cols-1 [class*="col-"]{margin-bottom:-99999px;padding-bottom:99999px;}
// with table
.row.equal-cols-2 {display: table;}
.equal-cols-2 [class*="col-"] {float:none;display:table-cell;vertical-align:middle;}

// dynamic vertical centering
.centerY {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}